<*site.css*>
footer{
  background-color: lightgray;
  border: solid 1px black;
  padding: 10px;
  border-radius:3px;
}

h1{
  background-color:DarkCyan;}
img.small{
  width:100px;
  height:100px;
}

li{
  display: inline;
  margin-right: 12px;
  }
  li.coming-soon {
    display: none;
}

ul.idioms{
list-style:inside circle;
  width: 300px;
}
.idiom{
  margin: 12px 0px 0px 0px;
}



