h1{
  background-color:DarkCyan;}
li{
  display: inline;
  margin-right: 12px;
  }
  li.coming-soon {
    display: none;
}
ul.idioms{
list-style:i nside circle;
  width: 300px;
}

li.idiom{
  margin: 12px 0px 0px 0px;}

img.small{
  width:200px;
  height:200px;
}
