h1{
  background-color:DarkCyan;}
img.small{
  width:100px;
  height:100px;
}
ul.idioms{
list-style:inside circle;
  width: 300px;
}

li{
  display: inline;
  margin-right: 12px;
  }
  li.coming-soon {
    display: none;
}




